<h1>Upload form</h1>

<p>This is the worst form ever. You need to use it from uploads/new, not the root, because I hardcoded the form (since I'm just going to replace it anyway)</p>

<form method='POST' enctype='multipart/form-data' action='create'>
Files to upload: <br/>
<input type='file' name='file1'><br/>
<input type='file' name='file2'><br/>
<input type='file' name='file3'><br/>
<input type=submit value=Upload>
</form>
